{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/category.css" %}">
{% endblock %}

{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{# {% block title %}{% trans "Home" %}{% endblock %} #}

{# {% block breadcrumb_menu %} #}
{# <li class="active">{% trans "Home" %}</li> #}
{# {% endblock %} #}

{% block main %}

<div class='container'>
    {% for product in Product.objects.all %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2 class='text-grey'>{{ product.productName }}</h2>
            <h3>{{ product.title }}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
            {% endif %}
            <div class='discover'>
                <btn class='discover_btn'>DECOUVRIR</btn>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
