{% extends "base.html" %}
{% load mezzanine_tags pages_tags mezzanine_tags i18n staticfiles keyword_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/category.css" %}">
{% endblock %}


{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}
    <div id='banner'>
        <img src="{{ MEDIA_URL}}{% thumbnail category.illustration 0 400 center %}" alt="illustration {{ category.title }}">
    </div>

    <div id='products' class='container'>
        {% for product in products %}
            <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
                <a href='{{ product.get_absolute_url }}'>
                <div class='productLiner'></div>
                <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
                <h2 class='text-grey'>{{ product.productName }}</h2>
                <h3>{{ product.title }}</h3>
                {% if product.baseline %}
                <div class='baseline'>{{ product.baseline }}</div>
                {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
                {% endif %}
                <div class='discover'>
                    <btn class='discover_btn'>DECOUVRIR</btn>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if category.presentation_parrain %}
        <div id='parrain' class='container'>
            <h2>
                {% if LANGUAGE_CODE == 'fr' %}Parrain{% else %}Sponsor{% endif %}
            </h2>
            <div class='liner'></div>
            <div class='col-lg-12 col-md-12 col-sm-12 '>
                <img id='logo_parrain' src="{{ MEDIA_URL}}{% thumbnail category.logo_parrain 0 150 center %}" alt="illustration {{ produit.productName }}">
                <div style='display:inline-block;'>{{ category.presentation_parrain|richtext_filters|safe }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}



