{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/category.css" %}">
{% endblock %}

{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
{% endblock %}


{# {% block meta_title %}{% trans "Home" %}{% endblock %} #}
{# {% block title %}{% trans "Home" %}{% endblock %} #}

{# {% block breadcrumb_menu %} #}
{# <li class="active">{% trans "Home" %}</li> #}
{# {% endblock %} #}

{% block main %}



<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {# <ol class="carousel-indicators"> #}
        {# <li data-target="#carousel" data-slide-to="0" class="active"></li> #}
        {# <li data-target="#carousel" data-slide-to="1"></li> #}
        {# <li data-target="#carousel" data-slide-to="2"></li> #}
    {# </ol> #}
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active ">
            <a href='{{ k.get_absolute_url }}'>
                <img src="{{ MEDIA_URL}}{% thumbnail k.illustration_banner 0 0 center %}" alt="illustration {{ k.title }}">
            </a>
        </div>
    </div>
    <!-- Controls -->
    {# <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"> #}
        {# <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> #}
        {# <span class="sr-only">Previous</span> #}
    {# </a> #}
    {# <a class="right carousel-control" href="#carousel" role="button" data-slide="next"> #}
        {# <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> #}
        {# <span class="sr-only">Next</span> #}
    {# </a> #}
</div>




<div class='container'>
    {% for product in random_products|slice:":8" %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2>{{ product.productName }}</h2>
            <h3>{{ product.title }} {% if product.price %}<span class='text-muted'>{{ product.price }}</span>{% endif %}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
<div style='height:50px; margin-bottom:20px; background-color:rgb(41,151,186);'>SLOT</div>
<div class='container'>
    {% for product in random_products|slice:"8:" %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2>{{ product.productName }}</h2>
            <h3>{{ product.title }} {% if product.price %}<span class='text-muted'>{{ product.price }}</span>{% endif %}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% endif %}
            </a>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $('.carousel').carousel();
</script>
{% endblock %}
