{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/category.css" %}">
<style type="text/css">
    #tokens{
        margin-bottom: 75px;
        text-align: center;
    }
    .token{
        margin-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .token img{
        max-width: 100%;
        max-width: 100px;
        margin-bottom: 10px;
    }.token .caption{
        text-transform: uppercase;
    }
    #slotMachine{
        height: 0px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: rgb(41,151,186);
    }#slotMachine.deploy{
        height: 100px;
    }

    #all_products h2{
        font-size: 20px;
    }

    #preFooter{
        margin-top: 75px;
    }
    #preFooter .box{
        width: 100%;
        padding: 20px;
        background-color: rgb(240,240,240);
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    #preFooter a, #preFooter a:hover{
        text-decoration: none;
    }
    #preFooter .box h2{
        margin: 20px 0;
        font-size: 18px;
    }
    footer{
        margin-top: 75px;
    }

    @media screen and (max-width: 768px){
        #tokens{
            margin-bottom: 40px;
        }#tokens img{
            max-width: 70px;
        }
        #preFooter{
            margin-top: 50px;
        }
        #preFooter .box{
            padding: 10px;
        }
        footer{
            margin-top: 50px;
        }
    }
 </style>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
<script type="text/javascript">
$(window).scroll(function(){
    if($("#slotMachine").offset().top > $(window).scrollTop() + $(window).height()/1.3 && !$("#slotMachine").hasClass('deploy')){
        $(this).addClass('deploy');
    }
});
</script>
{% endblock %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
Le Noël de la French Tech est un collectif de près de 200 start-ups françaises qui veulent faire découvrir leurs produits (géniaux) à leurs compatriotes
{% endmetablock %}{% endblock %}

{# {% block title %}{% trans "Home" %}{% endblock %} #}

{# {% block breadcrumb_menu %} #}
{# <li class="active">{% trans "Home" %}</li> #}
{# {% endblock %} #}

{% block main %}



<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        {% if last_blog %}
        <li data-target="#carousel" data-slide-to="3"></li>
        {% endif %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href='#'>
                <img src="{% static "img/carrousel-NFT-1.jpg" %}">
            </a>
        </div>
        <div class="item">
            {% if LANGUAGE_CODE == 'fr' %}
            <a href='/TousNosBeauxProduits'>
            {% else %}
            <a href='/all'>
            {% endif %}
                <img src="{% static "img/carrousel-NFT-2.jpg" %}">
            </a>
        </div>
        <div class="item">
            <a href='{% static "files/CERTIF-NFT.pdf" %}' download>
                <img src="{% static "img/carrousel-NFT-3.jpg" %}">
            </a>
        </div>
        {% if last_blog %}
        <script type="text/javascript">console.log('lastBlog');</script>
        <div class="item">
            <a href='{{ last_blog.get_absolute_url }}'>
                {# <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1200 0 %}"> #}
                <img src="{{ MEDIA_URL }}{% thumbnail last_blog.featured_image 0 0 %}">
            </a>
        </div>
        {% endif %}
    </div>
    <!-- Controls -->
    {# <a class="left carousel-control" href="#carousel" role="button" data-slide="prev"> #}
        {# <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> #}
        {# <span class="sr-only">Previous</span> #}
    {# </a> #}
    {# <a class="right carousel-control" href="#carousel" role="button" data-slide="next"> #}
        {# <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> #}
        {# <span class="sr-only">Next</span> #}
    {# </a> #}
</div>

<div id='tokens' class='container'>
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
        <div class='token'>
            <img src='{% static "img/sock.jpg" %}' />
            <div class='caption text-grey'>
                {% if LANGUAGE_CODE == 'fr' %}<strong>200</strong> cadeaux créés par des startups{% else %}<strong>200</strong> GIFTS CREATED BY STARTUPS{% endif %}
            </div>
        </div>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
        <div class='token'>
            <img src='{% static "img/lightbulb.jpg" %}' />
            <div class='caption text-grey'>
                {% if LANGUAGE_CODE == 'fr' %}séléctionnés pour leur <strong>originalité</strong>{% else %}SELECTED FOR THEIR <strong>ORIGINALITY</strong> {% endif %}
            </div>
        </div>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
        <div class='token'>
            <img src='{% static "img/ribbon.jpg" %}' />
            <div class='caption text-grey'>
                {% if LANGUAGE_CODE == 'fr' %}issus de <strong>l'innovation française</strong>{% else %}COMING FROM <strong>FRENCH INNOVATION </strong>{% endif %}
            </div>
        </div>
    </div>
</div>


{% if not all_products %}
<div class='container'>
    {% for product in random_products|slice:":8" %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2 class='text-grey'>{{ product.productName }}</h2>
            <h3>{{ product.title }}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
            {% endif %}
            <div class='discover'>
                <btn class='discover_btn'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        Découvrir
                    {% else %}
                        View
                    {% endif %}
                </btn>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
<div id='slotMachine' class='hide'>SLOT</div>
<div class='container'>
    {% for product in random_products|slice:"8:" %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2 class='text-grey'>{{ product.productName }}</h2>
            <h3>{{ product.title }}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
            {% endif %}
            <div class='discover'>
                <btn class='discover_btn'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        Découvrir
                    {% else %}
                        View
                    {% endif %}
                </btn>
            </div>
            </a>
        </div>
    {% endfor %}
</div>

{% elif all_products %}
<div id='all_products' class='container'>
    <h2 class='text-center text-grey'>
        {% if LANGUAGE_CODE == 'fr' %}
            TOUS NOS PRODUITS
        {% else %}
            ALL OUR PRODUCTS
        {% endif %}
    </h2>
    {% for product in all_products %}
        <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
            <a href='{{ product.get_absolute_url }}'>
            <div class='productLiner'></div>
            <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
            <h2 class='text-grey'>{{ product.productName }}</h2>
            <h3>{{ product.title }}</h3>
            {% if product.baseline %}
            <div class='baseline'>{{ product.baseline }}</div>
            {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
            {% endif %}
            <div class='discover'>
                <btn class='discover_btn'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        Découvrir
                    {% else %}
                        View
                    {% endif %}
                </btn>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}

<div id='preFooter' class='container'>
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
        <a href='/pop-up-store'>
            <div class='box thumbnail'>
                <h2 class='text-blue text-center'>POP-UP STORE</h2>
            </div>
        </a>
    </div>
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
        <a href='/pourquoi-le-noël-de-la-french-tech'>
            <div class='box thumbnail'>
                <h2 class='text-blue text-center'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        POURQUOI LE NOËL DE LA FRENCH TECH ?
                    {% else %}
                        WHAT IS LE NOËL DE LA FRENCH TECH ?
                    {% endif %}
                </h2>
            </div>
        </a>
    </div>
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
        <a href='/parrains'>
            <div class='box thumbnail'>
                <h2 class='text-blue text-center'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        LES PARRAINS
                    {% else %}
                        SPONSORS
                    {% endif %}
                </h2>
            </div>
        </a>
    </div>
    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
        <a href='/officiels'>
            <div class='box thumbnail'>
                <h2 class='text-blue text-center'>
                    {% if LANGUAGE_CODE == 'fr' %}
                        LES OFFICIELS
                    {% else %}
                        OFFICIALS
                    {% endif %}
                </h2>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        if($('#all_products').length){
            target = $('#all_products');
            $('html, body').animate({
                scrollTop: target.offset().top
            }, 1000);
        }

        refH = 0;
        $('#preFooter .box').each(function(){
            if($(this).outerHeight()>refH){
                refH = $(this).outerHeight();
            }
        });
        $('#preFooter .box').each(function(){
            $(this).outerHeight(refH);
            target = $(this).children('h2');
            target.css('margin-top', ($(this).height() - target.outerHeight())/2);
        });
    });
</script>
{% endblock %}
