{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles keyword_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}


{% block extra_js %}
<script src="{% static "js/product.js" %}"></script>
{% endblock %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

{% if addToken or wished %}
    <div id='addToken' class='text-center'>
        {% if LANGUAGE_CODE == 'fr' %}
        Le produit <b>{{ product.productName }}</b> a été ajouté à votre <a href='/wishlist'> <i class='fa fa-lg fa-shopping-cart'></i> wishlist</a>
        {% else %}
        <b>{{ product.productName }}</b> has been added to your <a href='/wishlist'> <i class='fa fa-lg fa-shopping-cart'></i> wishlist</a>
        {% endif %}
    </div>
{% endif %}

<div id='product' class='container space'>
    <div id='mobile_info' class='col-sm-12 col-xs-12' style='position:relative;'>
        <h1>
            {{ product.productName }}
            <a id='sup_cat' href='#startup'>{{ product.title }}</a>
        </h1>
        <h3 class='text-blue'>
            {{ product.price }} 
            {% if product.discount %}
                <i>({{ product.discount }})</i>
            {% endif %}
        </h3>
        <div class='text-muted text-justify'>
            <p style='margin-bottom:15px'> <i>{{ product.baseline }}</i> </p>
            {{ product.presentation_product|richtext_filters|safe }}
        </div>
        {% if not 'atelier' in request.get_host %}
            {% if addToken or wished %}
                <a class='buy cart off pull-right'>
                    <i class='fa fa-lg fa-shopping-cart'></i>
                </a>
            {% else %}
                <a class='buy cart pull-right' href='/add2list/{{ product.pk }}'><i class='fa fa-lg fa-shopping-cart'></i></a>
            {% endif %}
            {% if LANGUAGE_CODE == 'fr' %}
                <a class='buy pull-right' href='{{ product.mainLink }}' target='blank'>Offrir</a>
            {% else %}
                <a class='buy pull-right' href='{{ product.mainLink }}' target='blank'>Offer it !</a>
            {% endif %}
        {% endif %}
    </div>
    <div class='col-md-4 col-sm-6 col-xs-12 text-left'>
        <div id='illustration'>
            <img src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ product.productName }}">
            {% if product.illustration2 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration2 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
            {% if product.illustration3 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration3 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
            {% if product.illustration4 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration4 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
        </div>
        {% if product.illustration2 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration2 400 300 center %}" alt="illustration {{ product.productName }}" rel='0'>
        {% endif %}
        {% if product.illustration3 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration3 400 300 center %}" alt="illustration {{ product.productName }}" rel='1'>
        {% endif %}
        {% if product.illustration4 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration4 400 300 center %}" alt="illustration {{ product.productName }}" rel='2'>
        {% endif %}
    </div>
    <div id='desktop_info' class='col-md-8 col-sm-6 col-xs-12' style='position:relative;'>
        <h1>
            {{ product.productName }}
        </h1>
        <h2 style='font-weight:lighter;'>
        {% if LANGUAGE_CODE == 'fr' %}
        par la start-up:
        {% else %}
        start-up :
        {% endif %}
            <a id='sup_cat' href='#startup'>
                {{ product.title }}
            </a>
        </h2>
        <h3 class='text-blue' style='margin-bottom:20px;'>
            {{ product.price }} 
            {% if product.discount %}
                <i>({{ product.discount }})</i>
            {% endif %}
        </h3>
        <div class='text-muted text-justify'>
            <p style='margin-bottom:20px; font-size:16px;'> <i>{{ product.baseline }} </i></p>
            {{ product.presentation_product|richtext_filters|safe }}
        </div>
        {% if not 'atelier' in request.get_host %}
            {% if addToken or wished %}
                <a class='buy cart off pull-right'>
                    <i class='fa fa-lg fa-shopping-cart'></i>
                </a>
            {% else %}
                <a class='buy cart pull-right' href='/add2list/{{ product.pk }}'><i class='fa fa-lg fa-shopping-cart'></i></a>
            {% endif %}
            {% if LANGUAGE_CODE == 'fr' %}
                <a class='buy pull-right' href='{{ product.mainLink }}' target='blank'>Offrir</a>
            {% else %}
                <a class='buy pull-right' href='{{ product.mainLink }}' target='blank'>Offer it !</a>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class='container'>
    <div class='customSeparator'></div>
</div>

<div id='startup' class='container space'>
    {% if product.team_pic %}
    <div class='col-md-8 col-sm-8 col-xs-12'>
    {% else %}
    <div class='col-lg-9 col-md-9 col-sm-10 col-xs-12'>
    {% endif %}
        {% if product.logo %}
            <img id='logo_sup' class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.logo 0 200 center %}" alt="logo {{ product.title }}">
        {% endif %}
        <h2>
            {{ product.title }}{% if product.town %}<span class='text-muted' style='font-weight:lighter;'>, {{ product.town }}</span>{% endif %}
        </h2>
        {% if product.presentation_sup %}
            <div>
                {{ product.presentation_sup|richtext_filters|safe }}
            </div>
        {% endif %}
        {% if product.website %}
            <a href='{{ product.website }}' target='blank' style='display:inline-block; margin:10px 0;'>
                <i class='fa fa-lg fa-long-arrow-right'></i>
                {% if LANGUAGE_CODE == 'fr' %}
                    site web
                {% else %}
                    website
                {% endif %}
            </a>
        {% endif %}
        {% if product.team_pic %}
        <div id='social'>
            {% if product.facebook %}
                <a href='{{ product.facebook }}' target='blank'><i class='fa fa-lg fa-facebook'></i></a>
            {% endif %}
            {% if product.twitter %}
                <a href='{{ product.twitter }}' target='blank'><i class='fa fa-lg fa-twitter'></i></a>
            {% endif %}
            {% if product.instagram %}
                <a href='{{ product.instagram }}' target='blank'><i class='fa fa-lg fa-instagram'></i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if product.team_pic %}
        <div id='team_pic' class='col-md-4 col-sm-4 col-xs-12'>
            <img class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.team_pic 400 300 center %}" alt="team {{ product.title }}">
        </div>
    {% else %}
        <div id='social' class='no_team_pic col-lg-3 col-md-3 col-sm-2 col-xs-12'>
            {% if product.facebook %}
                <a href='{{ product.facebook }}' target='blank'><i class='fa fa-2x fa-facebook'></i></a>
            {% endif %}
            {% if product.twitter %}
                <a href='{{ product.twitter }}' target='blank'><i class='fa fa-2x fa-twitter'></i></a>
            {% endif %}
            {% if product.instagram %}
                <a href='{{ product.instagram }}' target='blank'><i class='fa fa-2x fa-instagram'></i></a>
            {% endif %}
        </div>
    {% endif %}
</div>

<div class='container'>
    <div class='customSeparator'></div>
</div>

<div id='related' class='container'>
    {% if LANGUAGE_CODE == 'fr' %}
        <h2 class='text-center'>Vous aimerez aussi </h2>
    {% else %}
        <h2 class='text-center'>You might also be interested in </h2>
    {% endif %}
    {% for k in related_products %}
        <div class='related col-md-3 col-ms-3 col-xs-6'>
            <a href='{{ k.get_absolute_url }}'>
                <img class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail k.illustration 200 150 center %}" alt="{{ k.title }}">
                <h5 class='text-center'>{{ k.productName }}</h5>
            </a>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
{% endblock %}



