{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}


{% block extra_js %}
<script src="{% static "js/product.js" %}"></script>
{% endblock %}

{% block main %}

{% if product.category|length %}
    <div id='category'>
            {{ product.category }}
    </div>
{% endif %}

<div id='product' class='container space'>
    <div class='col-md-4 col-sm-6 col-xs-12 text-center'>
        <div id='illustration'>
            <img src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ product.productName }}">
            {% if product.illustration2 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration2 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
            {% if product.illustration3 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration3 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
            {% if product.illustration4 %}
                <img class='second' src="{{ MEDIA_URL}}{% thumbnail product.illustration4 400 300 center %}" alt="illustration {{ product.productName }}">
            {% endif %}
        </div>
        {% if product.illustration2 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration2 120 90 center %}" alt="illustration {{ product.productName }}" rel='0'>
        {% endif %}
        {% if product.illustration3 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration3 120 90 center %}" alt="illustration {{ product.productName }}" rel='1'>
        {% endif %}
        {% if product.illustration4 %}
            <img class='small_img' src="{{ MEDIA_URL}}{% thumbnail product.illustration4 120 90 center %}" alt="illustration {{ product.productName }}" rel='2'>
        {% endif %}
    </div>
    <div class='col-md-8 col-sm-6 col-xs-12' style='position:relative;'>
        <div id='buy' class='text-right'>
            <a href='{{ product.mainLink }}' target='blank'>L'offrir</a>
        </div>
        <h1>
            {{ product.price }}
        </h1>
        <h1>{{ product.productName }}</h1>
        <h3 class='text-muted'>{{ product.title }}</h3>
        <div class='text-muted'>
            {{ product.baseline }}
            {{ product.presentation_product|richtext_filters|safe }}
        </div>
    </div>
</div>
{# <div class='customSeparator'></div> #}
<div id='startup' class='container space'>
    {% if product.team_pic %}
    <div class='col-md-8 col-sm-6 col-xs-12'>
    {% else %}
    <div class='col-lg-9 col-md-9 col-sm-8 col-xs-12'>
    {% endif %}
        {% if product.logo %}
            <img class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.logo 120 90 center %}" alt="logo {{ product.title }}">
        {% endif %}
        <h2>{{ product.title }} </h2>
        {% if product.town %}<h3> {{ product.town }}</h3> <br />{% endif %}
        {% if product.presentation_sup %}
            <div>
                {{ product.presentation_sup|richtext_filters|safe }}
            </div>
        {% endif %}
        {% if product.website %}<a href='{{ product.website }}' target='blank'>site web</a>{% endif %}
        {% if product.team_pic %}
        <div id='social'>
            {% if product.facebook %}
                <a href='{{ product.facebook }}' target='blank'><i class='fa fa-lg fa-facebook'></i></a>
            {% endif %}
            {% if product.twitter %}
                <a href='{{ product.twitter }}' target='blank'><i class='fa fa-lg fa-twitter'></i></a>
            {% endif %}
            {% if product.instagram %}
                <a href='{{ product.instagram }}' target='blank'><i class='fa fa-lg fa-instagram'></i></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if product.team_pic %}
        <div class='col-md-4 col-sm-6 col-xs-12'>
            <img class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail product.team_pic 400 300 center %}" alt="team {{ product.title }}">
        </div>
    {% else %}
        <div id='social' class='no_team_pic col-lg-3 col-md-3 col-sm-2 col-xs-12'>
            {% if product.facebook %}
                <a href='{{ product.facebook }}' target='blank'><i class='fa fa-2x fa-facebook'></i></a>
            {% endif %}
            {% if product.twitter %}
                <a href='{{ product.twitter }}' target='blank'><i class='fa fa-2x fa-twitter'></i></a>
            {% endif %}
            {% if product.instagram %}
                <a href='{{ product.instagram }}' target='blank'><i class='fa fa-2x fa-instagram'></i></a>
            {% endif %}
        </div>
    {% endif %}
</div>

<div id='related' class='container'>
    {% for k in related_products %}
        <div class='col-md-4 col-ms-4 col-xs-12'>
            <img class='thumbnail' src="{{ MEDIA_URL}}{% thumbnail k.illustration 400 300 center %}" alt="{{ k.title }}">
        </div>
    {% endfor %}
</div>
{% endblock %}



