{% extends "base.html" %}
{% load mezzanine_tags pages_tags mezzanine_tags i18n staticfiles keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/category.css" %}">
    <style type="text/css">
        footer{
            margin-top: 0;
        }
        #main{
            padding-bottom: 50px;
            background-image: url('{% static "img/paper.jpg" %}');
        }
        #banner{
            margin-bottom: 0;
        }
        #shareFB{
            width: 100%;
            padding: 20px 0;
            background-color: #FFFFFF;
            font-size: 18px;
        }
        .productBox{
            max-width: 320px;
            margin: auto;
            background-color: rgba(255,255,255,.85);
        }
        #delete_cat{
            z-index: 99999;
            position: absolute;
            top: 0;
            right: 3px;
            font-size: 18px
        }
        #delete_cat i{
            color: transparent;
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        .productBox:hover #delete_cat i{
            color: #e42a25;
        }
    </style>
{% endblock %}


{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block main %}

    <div id='banner'>
        <img src="{% static "img/wishlist.jpg" %}" alt="wishlist illustration">
    </div>

    {% if products %}
    <div class='text-center'>
    {% if shareURL %}
        <div id='shareFB'>
        <a id='share_cat' href=''>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            {% if LANGUAGE_CODE == 'fr' %}
                Partagez votre liste de Noël !
            {% else %}
                Share your Christmas list !
            {% endif %}
        </a>
        </div>
    {% endif %}
    </div>
    <div id='products' class='container text-center'>
        {% for product in products %}
            <div class='productBox thumbnail'>
                <div id='delete_cat'>
                    <a href='/removeFromList/{{ product.pk }}'><i class='fa fa-times-circle'></i></a>
                </div>
                <a href='{{ product.get_absolute_url }}'>
                <div class='productLiner'></div>
                <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
                <h2 class='text-grey'>{{ product.productName }}</h2>
                <h3>{{ product.title }}</h3>
                {% if product.baseline %}
                <div class='baseline'>{{ product.baseline }}</div>
                {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
                {% endif %}
                <div class='discover'>
                    <btn class='discover_btn'>
                        {% if LANGUAGE_CODE == 'fr' %}
                            Voir
                        {% else %}
                            View
                        {% endif %}
                    </btn>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2 class='text-blue text-center' style='margin-bottom:60px;'>
        {% if LANGUAGE_CODE == 'fr' %}
            Aucun produit n'a été ajouté à votre liste de noël !
        {% else %}
            No product has been placed in your christmas list !
        {% endif %}
        <i class='fa fa-lg fa-meh-o'></i>
        </h2>
        <div class='container text-center'>
            <h5 class='text-blue' style='margin-bottom:20px;'>
                {% if LANGUAGE_CODE == 'fr' %}
                    Ces produits pourraient vous intéresser 
                {% else %}
                    Take a look at those products 
                {% endif %}
            </h5>
            {% for product in alt_products %}
                <div class='productBox thumbnail col-lg-3 col-md-3 col-sm-6 col-xs-6'>
                    <a href='{{ product.get_absolute_url }}'>
                    <div class='productLiner'></div>
                    <img class='img-thumbnail'  src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
                    <h2 class='text-grey'>{{ product.productName }}</h2>
                    <h3>{{ product.title }}</h3>
                    {% if product.baseline %}
                    <div class='baseline'>{{ product.baseline }}</div>
                    {% if product.price %}<span class='text-blue'>{{ product.price }}</span>{% endif %}
                    {% endif %}
                    <div class='discover'>
                        <btn class='discover_btn'>
                            {% if LANGUAGE_CODE == 'fr' %}
                                Découvrir
                            {% else %}
                                View
                            {% endif %}
                        </btn>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

<script>
$(document).ready(function(){
document.getElementById('share_cat').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '{{ shareURL }}',
  }, function(response){});
}
});
</script>
{% endblock %}



