{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/category.css" %}">
    <style type="text/css">
        .productBox{
            max-width: 320px;
        }
    </style>
{% endblock %}


{% block extra_js %}
<script src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block main %}

    <div id='share_btn' class="btn btn-success clearfix">Partager</div>
    {% if products %}
    <a href=''>
        {% if LANGUAGE_CODE == 'fr' %}
            Partagez votre liste de Noël !
        {% else %}
            Share your Christmas list !
        {% endif %}
    </a>
    <div id='products' class='container'>
        {% for product in products %}
            <div class='productBox thumbnail col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2'>
                <a href='{{ product.get_absolute_url }}'>
                <div class='productLiner'></div>
                <img src="{{ MEDIA_URL}}{% thumbnail product.illustration 400 300 center %}" alt="illustration {{ produit.productName }}">
                <h2>{{ product.productName }}</h2>
                <h3>{{ product.title }} {% if product.price %}<span class='text-muted'>{{ product.price }}</span>{% endif %}</h3>
                {% if product.baseline %}
                <div class='baseline'>{{ product.baseline }}</div>
                {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>
        {% if LANGUAGE_CODE == 'fr' %}
            Aucun produit n'a été ajouté à votre liste de noël !
        {% else %}
            No product has been placed in your christmas list !
        {% endif %}
        </h2>
    {% endif %}

<script>
$(document).ready(function(){
document.getElementById('share_btn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '{{ shareURL }}',
  }, function(response){});
}
});
</script>
{% endblock %}



