#banner{
    margin-bottom: 60px;
}
#banner img{
    width: 100%;
}

.productBox{
    height: 320px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    overflow: auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}.productBox:hover{
    background-color: rgb(230,73,72);
}
.productBox:hover h2, .productBox:hover h3, .productBox:hover .baseline, .productBox:hover .text-muted, .productBox:hover .text-red{
    color: #FFFFFF;
}.productBox:hover .img-thumbnail{
    border-color: rgb(230,73,72);
}
.productBox a, .productBox a:hover, .productBox a:visited, .productBox a:focus{
    color: #777;
    text-decoration: none
}
.productBox img{
    max-height: 150px;
    margin: auto;
}
.productBox h2{
    margin: 15px 0 5px 0;
    font-size: 16px;
    color: rgb(41,151,186);
}
.productBox h3{
    margin: 10px 0 5px 0;
    font-size: 14px;
    font-weight: lighter;
}
.productBox .baseline{
    text-align: left;
}.productBox .baseline i{
    color: rgb(230,73,72);
}.productBox:hover .baseline i{
    color: #FFFFFF;
}


#parrain{
    margin-top: 40px;
    margin-bottom: 60px;
}
#parrain .liner{
    height: 0;
    margin-bottom: 40px;
    border-top: 1px solid rgb(230,73,72);
}
#parrain h2{
    color: rgb(230,73,72);
}
#logo_parrain{
    margin-bottom: 20px;
}
.presentation{
    text-align: justify;
}
/*.productLiner{
    margin: 0 20px 10px 20px;
    height: 0;
    padding: 0;
    border-bottom: 1px solid rgb(41,151,186);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}.productBox:hover .productLiner{
    border-color: transparent;
}*/