#banner{
    margin-bottom: 60px;
}
#banner img{
    width: 100%;
}

.productBox{
    position: relative;
    height: 400px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 40px;
    overflow: hidden;
    text-align: center;
    border: none;
    border-radius: 0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}.productBox:hover{
    background-color: rgb(240,240,240);
}
.productBox:hover h2, .productBox:hover h3, .productBox:hover .baseline, .productBox:hover .text-muted, .productBox:hover .text-red{
    /*color: #FFFFFF;*/
}.productBox:hover .img-thumbnail{
    border-color: #00718f;
}
.productBox a, .productBox a:hover, .productBox a:visited, .productBox a:focus{
    /*color: #777;*/
    text-decoration: none
}
.productBox img{
    max-height: 150px;
    margin: auto;
}
.productBox h2{
    margin: 15px 0 5px 0;
    font-size: 16px;
    color: #2d2f30;
}
.productBox h3{
    margin: 10px 0 5px 0;
    font-size: 14px;
    color: #777;
}
.productBox .baseline{
    margin-bottom: 10px;
    color: #777;
}

.productBox .discover{
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #FFFFFF;
    color: #e42a25;
    text-align: center;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.productBox:hover .discover{
    background-color: rgb(240,240,240);
}
.productBox .discover_btn{
    margin-bottom: 10px;
    padding: 3px 7px;
    background-color: #e42a25;
    color: #FFFFFF;
    /*border-radius: 2px;*/
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.productBox:hover .discover_btn{
    background-color: #00718f;
}


#parrain{
    margin-top: 40px;
    margin-bottom: 60px;
}
#parrain .liner{
    height: 0;
    margin-bottom: 40px;
    border-top: 1px solid #e42a25;
}
#parrain h2{
    color: #e42a25;
}
#logo_parrain{
    margin-bottom: 20px;
}
.presentation{
    text-align: justify;
}
/*.productLiner{
    margin: 0 20px 10px 20px;
    height: 0;
    padding: 0;
    border-bottom: 1px solid rgb(41,151,186);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}.productBox:hover .productLiner{
    border-color: transparent;
}*/
@media screen and (max-width: 768px){
    .productBox{
        height: 400px;
        margin-bottom: 25px;
    }
}