
body{
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:visited{
    text-decoration: none;
}

#main{
    overflow: hidden;
}
#main img{
    max-width: 100%;
}

#i18n{
    /*position: relative;*/
    /*z-index: 98;*/
    /*height: 15px;*/
    overflow: visible;
}
#i18n .form-group{
    position: absolute;
    z-index: 99;
    /*top: -33px;*/
    right: 15px;
    display: inline-block;
    max-width: 150px;
}

#logo{
    margin: 50px 0;
}
#all_navCat{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    /*text-align: center;*/
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navCat{
    display: inline-block;
    padding: 3px 6px;
    font-size: 18px;
    text-align: center;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}.navCat a{
    color: rgb(41,151,186);
}



footer{
    margin-top: 100px;
}


@media screen and (min-width: 1200px){
    #logo{
        margin: 70px 0;
    }
    .navCat{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 991px){
    #logo{
        margin: 30px 0;
    }
}
@media screen and (max-width: 568px){
    #logo{
        margin: 20px 0;
    }
}