

#i18n{
    /*position: relative;*/
    /*z-index: 98;*/
    /*height: 15px;*/
    overflow: visible;
}
#i18n .form-group{
    position: absolute;
    z-index: 99;
    /*top: -33px;*/
    right: 15px;
    display: inline-block;
    max-width: 150px;
}

#logo{
    margin: 30px 0;
}

.navCat{
    display: inline-block;
    padding: 5px 10px;
    font-size: 22px;
    color: rgb(41,151,186);
    text-align: center;
}
