
body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
a, a:hover, a:visited{
    text-decoration: none;
}

.text-grey{
    color: #2d2f30;
}
.text-blue{
    font-weight: lighter;
    color: #00718f;
}
.text-red{
    color: #e42a25;
}

#main{
    overflow: hidden;
}
img{
    max-width: 100%;
}

#i18n{
    /*position: relative;*/
    /*z-index: 98;*/
    /*height: 15px;*/
    overflow: visible;
}
#i18n .form-group{
    position: absolute;
    z-index: 99;
    /*top: -33px;*/
    right: 15px;
    display: inline-block;
    max-width: 150px;
}

#logo{
    margin: 15px 0;
}#logo img{
    max-width: 50%;
    max-width: 200px;
}
#all_navCat{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    /*text-align: center;*/
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navCat{
    display: inline-block;
    padding: 3px 6px;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}.navCat a{
    color: #2d2f30;
}.navCat a:hover, .navCat.booyah a{
    color: #e42a25;;
}



footer{
    min-height: 120px;
    margin-top: 100px;
    padding: 40px 0 20px 0;
    background-color: #00718f;
    color: white;
}
footer a i{
    margin: 0 5px;
    color: white;
    text-decoration: none;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}footer a:hover i{
    color: #e42a25;;
}


@media screen and (min-width: 1200px){
    .navCat{
        padding: 5px 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 991px){
    #all_navCat{
        text-align: center;
    }
    footer{
        min-height: 90px;
        margin-top: 90px;
        padding: 25px 0;
    }
}

@media screen and (max-width: 768px){
    .navCat{
        font-size: 16px;
    }
}
@media screen and (max-width: 568px){
    .navCat{
        font-size: 14px;
    }
}