{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block extra_css %}
<style type="text/css">
    img{
        max-width: 100%;
    }
    #main a, #main a:hover, #main a:visited{
        color: #e42a25;
    }
    #main h2 a, #main h2 a:hover, #main h2 a:visited{
        font-size: 24px;
        color: #2d2f30;
    }
    @media screen and (max-width: 768px){
        #main h2 a, #main h2 a:hover, #main h2 a:visited{
            font-size: 18px;
        }  
    }
</style>
{% endblock %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block main %}

<div id='main' class='container' style='margin-top:50px;'>
    {% if page %}
    {% block blog_post_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}

{% for blog_post in blog_posts.object_list %}
    <div class='col-md-8 col-sm-6 col-xs-8 col-md-offset-4 col-sm-offset-6 col-xs-offset-4' style='margin-bottom:20px;'>
    {% block blog_post_list_post_title %}
        <h2>
            <a href="{{ blog_post.get_absolute_url }}">
                {{ blog_post.title }}
            </a>
        </h2>
    {% endblock %}
    </div>

        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
            <div class='col-md-4 col-sm-6 col-xs-4'>
                {% block blog_post_list_post_featured_image %}
                <a href="{{ blog_post.get_absolute_url }}">
                    <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 0 200 %}">
                </a>
                {% endblock %}
            </div>
        {% endif %}

        <div class='col-md-8 col-sm-6 col-xs-8' style='text-align:justify;'>
        {% block blog_post_list_post_content %}
        {% editable blog_post.content %}
        {{ blog_post.description_from_content|safe }}
        {% endeditable %}
        {% endblock %}
        <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
        </div>

        {% block blog_post_list_post_links %}
        <div class="blog-list-detail">
            {% keywords_for blog_post as tags %}
                {% if tags %}
                <ul class="list-inline tags">
                {% trans "Tags" %}:
                    {% spaceless %}
                        {% for tag in tags %}
                        <li>
                            <a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
                            {% if not forloop.last %},
                            {% endif %}
                        </li>
                        {% endfor %}
                    {% endspaceless %}
                </ul>
                {% endif %}
            <p>
            </p>
        </div>
    {% endblock %}
{% endfor %}

{% pagination_for blog_posts %}

</div>
{% endblock %}

